.container-ear-left,
.container-ear-right {
    position: absolute;
    height: 160px;
    width: 160px;
    margin-top: 30px;
    color: white;
}

.container-ear-right {
    right: 0px;
}

.container-head {
    position: absolute;
    width: 380px;
    height: 380px;
    top: 80px;
    left: 60px;
}

.container-eyebrow-left,
.container-eyebrow-right {
    position: absolute;
    width: 70px;
    height: 45px;
}

.container-eyebrow-left {
    top: 190px;
    left: 180px;
}

.container-eyebrow-right {
    top: 190px;
    left: 270px;
}

.container-eye-left,
.container-eye-right {
    position: absolute;
    width: 150px;
    height: 60px;
}

.container-eye-left {
    top: 220px;
    left: 100px;
}

.container-eye-right {
    top: 220px;
    left: 270px;
}

.container-eyeball-left,
.container-eyeball-right {
    position: absolute;
    width: 40px;
    height: 40px;
}

.container-eyeball-left {
    top: 225px;
    left: 180px;
}

.container-eyeball-right {
    top: 225px;
    left: 310px;
}

.container-mouth {
    position: relative;
    top: 330px;
    left: 200px;
    width: 110px;
    height: 100px;
}

.container-teeth-left,
.container-teeth-right {
    position: absolute;
    width: 40px;
    height: 50px;
}

.container-teeth-left {
    top: 330px;
    left: 220px;
}

.container-teeth-right {
    top: 330px;
    right: 190px
}

.container-whiskers-left {
    position: absolute;
    width: 300px;
    height: 60px;
    top: 260px;
    left: -90px;
}

.container-whiskers-right {
    position: absolute;
    width: 300px;
    height: 60px;
    top: 260px;
    left: 300px;
}

.container-nose {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 260px;
    left: 225px;
}